<div class="flex justify-between border p-4 rounded-lg items-center">
    <div class="basis-1/3 justify-between">
        <%= link_to community.name, community_path(community), class: "text-lg font-semibold" %>
        <%if community.private%>
        <span class="inline-flex items-center rounded-xl bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">Private</span>
        <%end%>
    </div>
    <%if user_signed_in? and community.private%>
        <%= button_to "Join", community_members_path(community), method: :post %>
    <%elsif user_signed_in? and !community.private %>
        <%= link_to "View", community_path(community) %>
    <%else%>
        <%= link_to "Login", new_user_session_path %>
    <%end%>
</div>