<div class="flex justify-between items-end">
    <div class= "container flex flex-col space-y-4 ">
        <%= link_to sanitize("&larr; Back to Communities"), communities_path %>
        <h1 class="text-2xl font-bold text-left"> <%= @community.name %> </h1>
    </div>
    <p class="flex text-2xl font-bold">Members:&nbsp;<%=@community.users.size%></p>
</div>

<%= button_to "Leave Community", community_member_path(@community), method: :delete %>

